DATABASE_URL=postgresql://catalogi:pg_password@localhost:5432/db
API_PORT=3084
EXTERNAL_SOFTWARE_DATA_ORIGIN=wikidata
README_URL=https://git.sr.ht/~codegouvfr/logiciels-libres/blob/main/sill.md
TERMS_OF_SERVICE_URL=https://code.gouv.fr/sill/tos_fr.md

VITE_HEAD="
  <title>Catalogi - Local use</title>

  <script defer>
    console.log('This is a custom code in head, used in local');
  </script>
"

# The following variables are use to configure the docker-compose.ressources.yml

# make sure it is aligned with DATABASE_URL, the following are the defaults:

# POSTGRES_DB=db
# POSTGRES_USER=catalogi
# POSTGRES_PASSWORD=pg_password
