# this is for local use only

services:
# the PG database
  postgres:
    image: postgres:16
    shm_size: 256m
    ports:
      - "5432:5432"
    environment:
      POSTGRES_LOG_STATEMENTS: all
      POSTGRES_DB: ${POSTGRES_DB:-db}
      POSTGRES_USER: ${POSTGRES_USER:-catalogi}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-pg_password}
    volumes:
      - ./docker-data:/var/lib/postgresql/data

#  Adminer is optional, it provides a basic interface for PostgreSQL access
  adminer:
    image: adminer
    ports:
      - "8081:8080"

# an OIDC provider, Keycloak
  keycloak:
    image: quay.io/keycloak/keycloak:26.2.5
    container_name: keycloak-standalone
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
    command: start-dev --import-realm
    volumes:
      - ./catalogi-realm.json:/opt/keycloak/data/import/catalogi-realm.json
    ports:
      - "8080:8080"
